extends ../layout/layout.pug
  
block content
  .container-fluid
    h1 Choose Data to insert 

    .row
      .col-xl-2.col-md-4.mb-2
      .col-xl-550.col
        .col.mr-6
          .card-body
            .col.align-items-center
              .row.no-gutters.align-items-center
                .col.mr-2          
                  // Pending Requests Card Example
                  .col-xl-550.col-md-10.mb-4
                      .col.mr-6
                        .align.center.mb-10.inline-block
                          a.btn.btn-primary.btn-user.btn-block.btn-lg.mr-0.px-5(href='/data/raw-data-new')
                              | Raw Data
                        .col-auto
                  
                  // Pending Requests Card Example
                  .col-xl-550.col-md-10.mb-4
                      .col.mr-6
                        .align.center.mb-10.inline-block
                          a.btn.btn-primary.btn-user.btn-block.btn-lg.mr-0.px-5(href='/data/processed-data-new')
                            | Processed Data                   
                        .col-auto

                  // Pending Requests Card Example
                  .col-xl-550.col-md-10.mb-4
                      .col.mr-6
                        .align.center.mb-10.inline-block
                          a.btn.btn-primary.btn-user.btn-block.btn-lg.mr-0.px-5(href='/')
                            | Cancel
                        .col-a

