extends ../layout/layout.pug

block append header
  link(rel='stylesheet', href='/vendor/bootstrap-theme/vendor/datatables/dataTables.bootstrap4.min.css')

block content
  .container-fluid
    if(language == 0)
      h1.mb-4 Operation History
    else 
      h1.mb-4 Histórico de Operação
    include components/operation-table.pug


block append scripts
  script(src='/vendor/bootstrap-theme/vendor/datatables/jquery.dataTables.min.js')
  script(src='/vendor/bootstrap-theme/vendor/datatables/dataTables.bootstrap4.min.js')
  script(src='/js/datatable.js')
