extends ../layout/layout.pug

block append header

block content
  .card.o-hidden.border-0.shadow-lg.my-5.ml-5.mr-5
    .card-body.p-0
      // Nested Row within Card Body
      .row
        .col-lg-12
          .p-5
            .text-center
              if(language == 'en')
                h1.h4.text-gray-900.mb-4 Create raw DNA data
              else 
                h1.h4.text-gray-900.mb-4 Criar dado de DNA bruto
              p.mb-4 
            form.user(action='/data/raw-data-create' method='post')
              .form-group
                if(language == 'en')
                  label(for='title') Name
                else 
                  label(for='title') Nome
                input#title.form-control.form-control-user(name='metadata[title]' type='text' required)
              .form-group
                if(language == 'en')
                  label(for='description') Description
                else 
                  label(for='description') Descrição
                textarea#exampleFormControlTextarea1.form-control(name='metadata[description]' rows='3' type = 'text' required)
              .form-group
                if(language == 'en')
                  label(for='magnet_link') Magnetic Link
                else 
                  label(for='magnet_link') Link Magnético
                input#organization.form-control.form-control-user(name='metadata[magnet_link]' type='text' required)
              .form-group
                if(language == 'en')
                  label(for='secret_key') Secret Key
                else
                  label(for='secret_key') Chave Secreta
                a.fas.fa-info-circle.ml-2(tabindex="0" data-toggle="popover" data-html="true" data-trigger="focus" 
                data-content="Optional. Key used to encrypt and decrypt DNA. It will be securely stored outside Blockchain")
                input#organization.form-control.form-control-user(name='secret_key' type='text' required)
              hr
              .float-right.mb-4.inline-block
                a.btn.btn-danger.btn-user.mr-3.px-5(href='/data')
                  if(language == 'en')
                    | Cancel
                  else 
                    | Cancelar
                input.btn.btn-primary.btn-user.px-5(type='submit' value='Add')

block append scripts
