extends ../layout/layout.pug

block append header
  link(rel='stylesheet', href='/vendor/bootstrap-theme/vendor/datatables/dataTables.bootstrap4.min.css')

block content
  .container.mt-4
    if(language == 'en')
      h1 Show Data
    else 
      h1 Ver Dados
    .card.mb-4
      .card-header.d-flex.justify-content-between.align-items-center
        if(language == 'en')
          | Data
        else 
          | Dados
        div
          if(dnaContract)
            a.btn.btn-primary.btn-sm.mr-4(href='/dnaContract/'+ dnaContract.id)
              if(language == 'en')
                | See Smart Contract
              else 
                | Ver Contrato Inteligente
          else if(data.process_request_id)
            a.btn.btn-primary.btn-sm.text-white.mr-2(data-toggle="modal" data-target="#endorseModal" title="Buy DNA")
              if(language == 'en')
                | Endorse DNA
              else 
                | Validar DNA
          else if( !data.process_request_id )
            a.btn.btn-danger.btn-sm.mr-4(href='/dnaContract/new/'+data.id)
              if(language == 'en')
                | Create Smart Contract
              else 
                | Criar Contrato Inteligente

          if(data.type=='Raw')
            a.btn.btn-secondary.btn-sm.mr-4(href='/process-request?search='+data.key)
              if(language == 'en')
                | See Processing Request
              else 
                | Ver Requisição de Processamento
              
          a.btn.btn-secondary.btn-sm.mr-4(href=data.key+'/list-operations')
            if(language == 'en')
              | See History Operation
            else 
              | Ver Histórico de Operação

          a.btn.btn-primary.btn-sm(href='/dnaKey/' + data.id)
            if(language == 'en')
              | See Decryption Key
            else 
              | Ver chave de descriptografia
      include components/data-show-form.pug
    .card
      .card-header List of Owners
      .card-body
        .table-responsive
          table#dataTable.table.table-bordered(width='100%' cellspacing='0')
            thead
              tr 
                if(language == 'en')
                  th Owner ID
                else 
                  th ID do Dono
            tbody
              each ownerId, index in data.owners
                tr
                  td
                    = ownerId

    include components/endorse-modal.pug

block append scripts
  script(src='/vendor/bootstrap-theme/vendor/datatables/jquery.dataTables.min.js')
  script(src='/vendor/bootstrap-theme/vendor/datatables/dataTables.bootstrap4.min.js')
  script(src='/js/datatable.js')
  script.
    let process_request_id = "#{data.process_request_id}"
    function endorseDna(){
        $.post("/dnaContract/endorse/", { process_request_id } );
    }

