extends ../layout/layout.pug

block append header
  link(rel='stylesheet', href='/vendor/bootstrap-theme/vendor/datatables/dataTables.bootstrap4.min.css')

block content
  .container.mt-4
    if(language == 'en')
      h1 Show Data
    else 
      h1 Mostrar Dado
    .card.mb-4
      .card-header.d-flex.justify-content-between.align-items-center
        if(language == 'en')
          | Data
        else 
          | Dados
        div
          if(dnaContract)
            a.btn.btn-primary.btn-sm.mr-4(href='/dnaContract/'+ dnaContract.id)
              if(language == 'en')
                | See Smart Contract
              else
                | Ver Contrato Inteligente
          else if(data.process_request_id)
            a.btn.btn-primary.btn-sm.text-white.mr-2(data-toggle="modal" data-target="#endorseModal" title="Buy DNA")
              if(language == 'en')
                | Endorse DNA
              else
                | Aprovar DNA
          else if( !data.process_request_id )
            a.btn.btn-danger.btn-sm.mr-4(href='/data-buy')
              if(language == 'en')
                | No Contract Avaliable
              else 
                | Contrato não disponível
      include components/data-show-form.pug
    .card
      if(language == 'en')
        .card-header List of Owners
      else 
        .card-header Lista de Donos
      .card-body
        .table-responsive
          table#dataTable.table.table-bordered(width='100%' cellspacing='0')
            thead
              if(language == 'en')
                tr 
                  th Owner ID
              else 
                tr 
                  th ID do Dono
            tbody
              each ownerId, index in data.owners
                tr
                  td
                    = ownerId

    include components/endorse-modal.pug

block append scripts
  script(src='/vendor/bootstrap-theme/vendor/datatables/jquery.dataTables.min.js')
  script(src='/vendor/bootstrap-theme/vendor/datatables/dataTables.bootstrap4.min.js')
  script(src='/js/datatable.js')
  script.
    let process_request_id = "#{data.process_request_id}"
    function endorseDna(){
        $.post("/dnaContract/endorse/", { process_request_id } );
    }

