extends ../layout/layout.pug

block append header

block content
  .container.mt-4
    h1 Show Data
    .card.mb-4
      .card-header.d-flex.justify-content-between.align-items-center
        | Data
        div
          if(dnaContract)
            a.btn.btn-primary.btn-sm.mr-4(href='/dnaContract/'+ dnaContract.id)
              | See Smart Contract
          else if(data.process_request_id)
            form.user.d-inline(action='/dnaContract/endorse' method='post')
              input#process-request-id(type='text' hidden name='process_request_id' value=data.process_request_id)
              input.btn.btn-primary.btn-sm.mr-2(type='submit' value='Endorse DNA')
          else if( !data.process_request_id )
            a.btn.btn-danger.btn-sm.mr-4(href='/dnaContract/new/'+data.id)
              | Create Smart Contract

          if(data.type=='Raw')
            a.btn.btn-primary.btn-sm.mr-4(href='/process-request?search='+data.key)
              | See Processing Request
              
          a.btn.btn-secondary.btn-sm(href=data.key+'/list-operations')
            | See History Operation
      .card-body
        include components/data-show-form.pug


block append scripts
  script.
    let process_request_id = "#{data.process_request_id}"
    function endorseDna(){
        $.post("/dnaContract/endorse/", { process_request_id } );
    }

