extends ../layout/layout.pug

block append header

block content
  .card.o-hidden.border-0.shadow-lg.my-5.ml-5.mr-5
    .card-body.p-0
      // Nested Row within Card Body
      .row
        .col-lg-12
          .p-5
            .text-center
              h1.h4.text-gray-900.mb-4 Send a Tradicional Knowledge data
              p.mb-4
            form.user(action='/tk/tradicional-knowledge-create' method='post')
              .form-group
                label(for='name') Name
                input#name.form-control.form-control-user(name='metadata[title]' type='text' required)
              .form-group
                label(for='description') Description
                textarea#exampleFormControlTextarea1.form-control(name='metadata[description]' rows='6' type = 'text' required)
              .form-group 
                label(for='species') Species 
                textarea#exampleFormControlTextarea1.form-control(name='metadata[species]' rows = '1' type = 'text' required)
              .form-group
                label(for='magnet_link') Magnetic link
                input#magnet_link.form-control.form-control-user(name='metadata[magnet_link]' type='text' required)
              .form-group
                label(for='secret_key') Secret Key
                a.fas.fa-info-circle.ml-2(tabindex="0" data-toggle="popover" data-html="true" data-trigger="focus" 
                data-content="Optional. Key used to encrypt and decrypt DNA. It will be securely stored outside Blockchain")
                input#organization.form-control.form-control-user(name='secret_key' type='text' required)
              hr
              .float-right.mb-4.inline-block
                a.btn.btn-danger.btn-user.mr-3.px-5(href='/tk')
                  | Cancel
                input.btn.btn-primary.btn-user.px-5(type='submit' value='Add')

block append scripts