node_modules/
application/fabric-details/remote-connection.json
application/fabric-details/remote-certs/remoteadmin.id
application/fabric-details/remote-certs/remoteAppUser.id
blockchain/currency-contract/config.json
blockchain/biobank-contract/config.json
blockchain/currency-contract/package-lock.json
application/.env
application/package-lock.json
encryptCertificate/build/*