node_modules/
application/fabric-details/remote-connection.json
application/fabric-details/remote-certs/remoteadmin.id
application/fabric-details/remote-certs/remoteAppUser.id
application/encryptCertificate/binding.gyp
application/encryptCertificate/build/
application/encryptCertificate/credentials/
blockchain/currency-contract/config.json
blockchain/biobank-contract/config.json
blockchain/currency-contract/package-lock.json
application/package-lock.json
blockchain/currency-contract/config.json
encryptCertificate/build
blockchain/biobank-contract/package-lock.json
blockchain/currency-contract/package-lock.json
blockchain/bin/*
application/package-lock.json
api/package-lock.json
