.modal.fade(id= "buyModal" tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        h5#exampleModalLabel.modal-title Confirm buying?
        button.close(type='button' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true') &times;
      .modal-body Click in &quot;Buy &quot; below to buy DNA for 
        = dnaContract.parameters.price
        |  Biocoins
      .modal-footer
        button.btn.btn-secondary(type='button' data-dismiss='modal') Cancel
        form.user(action='execute-contract/' + dnaContract.id method='post')
          input#type(hidden name='type' type='text' value='buy_dna')
          input.btn.btn-primary.btn-user(type='submit' value='BUY')