extends ../layout/layout.pug

block append header

block content
  .container.mt-4
    h1 Detalhes do Usuário
    .card.mb-4
      .card-header Usuário
      .card-body
        form
          .form-row
            .form-group.col-md-6
              label.mb-1(for='name') Nome
              input#name.form-control(disabled type='text' value= account.name)
            .form-group.col-md-6
              label.mb-1(for='address') Endereço
              input#address.form-control(disabled type='text'  value=account.address)
          .form-row
            .form-group.col-md-6
              label.mb-1(for='balance') Saldo
              input#balance.form-control.bio-money(disabled type='text' value= account.balance)
            .form-group.col-md-6
              label.mb-1(for='created_at') Criado em
              input#id.form-control(disabled type='text'  value=account.created_at)
        .card-header Available Tokens
        .card-body
          each token, index in account.tokens 
            form
              .form-row
                .form-group.col-md-3
                  label.mb-1(for='type') Type
                  input#type.form-control(disabled type='text' value= token.type)
                .form-group.col-md-3
                  label.mb-1(for='value') Value
                  input#value.form-control.bio-money(disabled type='text'  value=token.value)
                .form-group.col-md-3
                  label.mb-1(for='payment-intention-id') PaymentIntentionId
                  input#payment-intention-id.form-control(disabled type='text' value= token.payment_intention_id)
                .form-group.col-md-3
                  label.mb-1(for='expiration-date') Expiration Date
                  input#expiration_date.form-control(disabled type='text'  value=token.expiration_date)
            

block append scripts
