extends ../../layout/layout.pug

block append header

block content
    .container.mt-4
        .text-center 
            if(language == 'en')  
                h1 The transaction was succeded
            else 
                h1 A transação foi bem sucedida
            .card.mb-4 
                if(language == 'en')  
                    .card-header Transaction details 
                else 
                    .card-header Detalhes da transação
                .card-body 
                    form
                        .form-row
                            .form-group.col-md-12
                            if(language == 'en')  
                                label.mb-1(for='name') User of origin
                            else 
                                label.mb-1(for='name') Usuário de origem
                            input#name.form-control(disabled type='text' value= account.name)
                        .form-row              
                            .form-group.col-md-12
                            if(language == 'en')  
                                label.mb-1(for='address') Origin address
                            else 
                                label.mb-1(for='address') Endereço de origem
                            input#address.form-control(readonly name='senderAddress' type='text'  value=account.address)
                        .form-row 
                            .form-group.col-md-12 
                            if(language == 'en')    
                                label.mb-1(for='address-reciever') Destiny address
                            else 
                                label.mb-1(for='address-reciever') Endereço de Destino
                            input#address-reciever.form-control(disabled name = 'receiverAddress' type='text' value=transferData.receiverAddress)
                        .form-row 
                            .form-group.col-md-12 
                            if(language == 'en')  
                                label.mb-1(for='amount') Value of the transction
                            else 
                                label.mb-1(for='amount') Valor da transação
                            input#amount.form-control.bio-money-input(disabled name = 'amount' type = 'text' value=transferData.amount)
                        hr
                        .float-right.mb-4.inline-block
                          if(language == 'en')  
                            a.btn.btn-primary.btn-user.mr-3.px-5(href='/account/show-my-account') 
                                | Finish
                          else 
                            a.btn.btn-primary.btn-user.mr-3.px-5(href='/account/show-my-account') 
                                | Finalizar
block append scripts
