extends ../../layout/layout.pug

block append header

<!-- 
transação foi um sucesso
na tela:
// precisa do objeto transferencia
// pega alguns dados dele: 
    usuario de origem, endereço de origem
    endereço de destino, valor da transação
    hora da transação (?)
-->


block append scripts
