extends ../../layout/layout.pug

block append header

block content
    .container-fluid
        - var value = "string"
        if(language == 'en')
            h1.px-3.mt-4  Error: your transaction was not processed
            script.
                message="#{message}"
                alert( message)
        else 
            h1.px-3.mt-4  Erro: Sua transação não foi processada
            script.
                message="#{message}"
                alert( message)

block append scripts
