extends ../layout/layout.pug

block append header
  link(rel='stylesheet', href='/vendor/bootstrap-theme/vendor/datatables/dataTables.bootstrap4.min.css')

block content
  .container-fluid
    .d-flex.flex-row.justify-content-between.mb-4
      if(language == 'en')
        h1.d-inline Process Requests
      else 
        h1.d-inline Requisição de Processo
    include components/process-request-table.pug




block append scripts
  script(src='/vendor/bootstrap-theme/vendor/datatables/jquery.dataTables.min.js')
  script(src='/vendor/bootstrap-theme/vendor/datatables/dataTables.bootstrap4.min.js')
  script(src='/js/datatable.js')
