extends ../layout/layout.pug

block append header

block content
  .container.mt-4
    h1 Detalhes da Solicitação
    .card.mb-4
      .card-header.d-flex.justify-content-between.align-items-center
        | Solicitação de Processamento
        if(processRequest.status != "Processado")
          a.btn.btn-primary.btn-sm.mr-4(href='/data/processed-data-new/?processRequest=' + processRequest.id)
            | Insert Processed DNA
            
      .card-body
        form
          .form-row
            .form-group.col-md-6
              label.mb-1(for='status') Status
              input#status.form-control(disabled type='text' value= processRequest.status)
            .form-group.col-md-6
              label.mb-1(for='id') ID
              input#id.form-control(disabled type='text'  value=processRequest.id)
          .form-group
            label.mb-1(for='created_at') Criado em
            input#created_at.form-control(disabled type='text'  value=processRequest.created_at)

          hr
          .mb-4.mt-4.font-weight-bold
            | Dados Brutos
          .form-row
            .form-group.col-md-6
              label.mb-1(for='raw_data_title') Título do Dado Bruto
              input#raw_data_title.form-control(disabled type='text' value= processRequest.raw_data.title)
            .form-group.col-md-6
              label.mb-1(for='raw_data_id') Id do Dado Bruto
              div.mt-2
                a(href='/data/' + processRequest.raw_data_id)
                  = processRequest.raw_data_id

          if (processRequest.processor)
            hr
            .mb-4.mt-4.font-weight-bold
              | Processador
            .form-row
              .form-group.col-md-6
                label.mb-1(for='processor_name') Nome do Processador
                input#processor_name.form-control(disabled type='text' value= processRequest.processor.name)
              .form-group.col-md-6
                label.mb-1(for='processor_id') Id do Processador
                div.mt-2
                  a(href='/processor/' + processRequest.processor_id)
                    = processRequest.processor_id

          if (processRequest.processed_data)
            hr
            .mb-4.mt-4.font-weight-bold Dados Processados
            .form-row
              .form-group.col-md-6
                label.mb-1(for='processed_data_title') Title do Dado Processado
                input#processed_data_title.form-control(disabled type='text' value= processRequest.processed_data.title)
              .form-group.col-md-6
                label.mb-1(for='processed_data_id') Id do Dado Processado
                div.mt-2
                  a(href='/data/' + processRequest.processed_data_id)
                    = processRequest.processed_data_id


block append scripts
