extends ../layout/layout.pug
  
block content
  .container-fluid
    h1 Home 

    .row
      // Earnings (Monthly) Card Example
      .col-xl-3.col-md-6.mb-4
        .card.border-left-primary.shadow.h-100.py-2
          .card-body
            .row.no-gutters.align-items-center
              .col.mr-2
                .text-xs.font-weight-bold.text-primary.text-uppercase.mb-1 Dados de DNA
                .h5.mb-0.font-weight-bold.text-gray-800 Enviar dados
              .col-auto
                i.fas.fa-calendar.fa-2x.text-gray-300
      // Earnings (Monthly) Card Example
      .col-xl-3.col-md-6.mb-4
        .card.border-left-success.shadow.h-100.py-2
          .card-body
            .row.no-gutters.align-items-center
              .col.mr-2
                .text-xs.font-weight-bold.text-success.text-uppercase.mb-1 Earnings (Annual)
                .h5.mb-0.font-weight-bold.text-gray-800 $215,000
              .col-auto
                i.fas.fa-dollar-sign.fa-2x.text-gray-300
      // Earnings (Monthly) Card Example
      .col-xl-3.col-md-6.mb-4
        .card.border-left-info.shadow.h-100.py-2
          .card-body
            .row.no-gutters.align-items-center
              .col.mr-2
                .text-xs.font-weight-bold.text-info.text-uppercase.mb-1 Tasks
                .row.no-gutters.align-items-center
                  .col-auto
                    .h5.mb-0.mr-3.font-weight-bold.text-gray-800 50%
                  .col
                    .progress.progress-sm.mr-2
                      .progress-bar.bg-info(role='progressbar' style='width: 50%' aria-valuenow='50' aria-valuemin='0' aria-valuemax='100')
              .col-auto
                i.fas.fa-clipboard-list.fa-2x.text-gray-300
      // Pending Requests Card Example
      .col-xl-3.col-md-6.mb-4
        .card.border-left-warning.shadow.h-100.py-2
          .card-body
            .row.no-gutters.align-items-center
              .col.mr-2
                .text-xs.font-weight-bold.text-warning.text-uppercase.mb-1 Pending Requests
                .h5.mb-0.font-weight-bold.text-gray-800 18
              .col-a
