extends ../layout/layout.pug
  
block content
  .container-fluid
    h1 Home

    .row
      .col-xl-2.col-md-4.mb-2
      .col-xl-550.col
        .col.mr-6
          .card-body
            .col.align-items-center
              .row.no-gutters.align-items-center
                .col.mr-2          
                  // Pending Requests Card Example
                  .col-xl-550.col-md-10.mb-4
                      .col.mr-6
                        .align.center.mb-10.inline-block
                          if(language == 0)
                            a.btn.btn-success.btn-user.btn-block.btn-lg.mr-0.px-5(href='/data/new')
                                | Insert DNA
                          else
                            a.btn.btn-success.btn-user.btn-block.btn-lg.mr-0.px-5(href='/data/new')
                                | Inserir DNA
                        .col-auto
                  
                  // Pending Requests Card Example
                  .col-xl-550.col-md-10.mb-4
                      .col.mr-6
                        .align.center.mb-10.inline-block
                          if(language == 0)
                            a.btn.btn-success.btn-user.btn-block.btn-lg.mr-0.px-5(href='/processable-data')
                              | Process DNA  
                          else
                            a.btn.btn-success.btn-user.btn-block.btn-lg.mr-0.px-5(href='/processable-data')
                              | Processar DNA              
                        .col-auto

                  // Pending Requests Card Example
                  .col-xl-550.col-md-10.mb-4
                      .col.mr-6
                        .align.center.mb-10.inline-block
                          if(language == 0)
                            a.btn.btn-success.btn-user.btn-block.btn-lg.mr-0.px-5(href='/data-buy')
                              | Buy DNA
                          else
                            a.btn.btn-success.btn-user.btn-block.btn-lg.mr-0.px-5(href='/data-buy')
                              | Comprar DNA
                        .col-a                        

block append scripts