.card.shadow.mb-4
  .card-header.py-3
    if(language == 0)
      h6.m-0.font-weight-bold.text-primary Lista de Processadores
    else 
      h6.m-0.font-weight-bold.text-primary Processor List
  .card-body
    .table-responsive
      table#dataTable.table.table-bordered(width='100%' cellspacing='0')
        thead
          if(language == 0)
            tr
              th Name
              th Organization
              th Created at
              th ID
              th Action
          else 
            tr
              th Nome
              th Organização
              th Criado em
              th ID
              th Ação            
        tbody
          each processor in processors
            tr
              td
                = processor.name
              td
                = processor.organization
              td
                = processor.created_at
              td
                = processor.id
              td
                a.btn.btn-info.btn-sm.btn-circle.mr-2(
                  data-toggle="tooltip" data-placement="top" title="Ver Detalhes" href="/processor/" + processor.id
                )
                  i.fas.fa-eye
