.card.shadow.mb-4
  .card-header.py-3
    h6.m-0.font-weight-bold.text-primary Raw DNA list
  .card-body
    .table-responsive
      table#dataTable.table.table-bordered(width='100%' cellspacing='0')
        thead
          tr
            th Title
            th Collector
            th Created at
            th Status
            th Action
        tbody
          each data, index in datas
            tr
              td
                = data.metadata.title
              td
                = data.collector
              td
                = data.created_at
              td
                = data.status
              td
                a.btn.btn-info.btn-sm.btn-circle.mr-2(
                  data-toggle="tooltip" data-placement="top" title="See Details" href="/data/" + data.id
                )
                  i.fas.fa-eye
                a.btn.btn-primary.btn-sm.btn-circle.mr(
                  data-placement="top" title="Process" data-toggle="tooltip"  href="/processable-data/show-data/" + data.id
                )
                  i.fas.fa-cogs
            include process-modal.pug