.modal.fade(id= "processModal"+index tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        if(language == 'en')
          h5#exampleModalLabel.modal-title Process this DNA?
        else 
          h5#exampleModalLabel.modal-title Processar este DNA?
        button.close(type='button' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true') &times;
      .modal-body 
        form.user(action='/process-request/create' method='post')
          input#data-id(hidden name='raw_data_id' type='text' value=data.id)
          input#collector(hidden name='collector' type='text' value=data.collector)
          input#type(hidden name='type' type='text' value='process')

          if(language == 'en')
            .mb-3
              | Click in &quot;Process&quot; below to create a process request
          else 
            .mb-3
              | Clique em &quot;Processar&quot; abaixo para criar uma requisição de processamento          
          .modal-footer
            button.btn.btn-secondary(type='button' data-dismiss='modal') Cancel
            input.btn.btn-primary.btn-user(type='submit' value='Process')