.modal.fade(id= "processModal"+index tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        h5#exampleModalLabel.modal-title Process this DNA?
        button.close(type='button' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true') &times;
      .modal-body 
        form.user(action='/process-request/create' method='post')
          input#data-id(hidden name='raw_data_id' type='text' value=data.id)
          input#collector(hidden name='collector' type='text' value=data.collector)
          input#type(hidden name='type' type='text' value='process')

          .mb-3
            | Some Biocoins will be retained from your account. You can redeem them after uploading processed DNA. 
          .mb-3
            | Click in &quot;Process&quot; below to continue

          .modal-footer
            button.btn.btn-secondary(type='button' data-dismiss='modal') Cancel
            input.btn.btn-primary.btn-user(type='submit' value='Process')