ul#accordionSidebar.navbar-nav.bg-gradient-primary.sidebar.sidebar-dark.accordion
  // Sidebar - Brand
  a.sidebar-brand.d-flex.align-items-center.justify-content-center(href='/')
    .sidebar-brand-icon.rotate-n-15
      i.fas.fa-dna
    .sidebar-brand-text.mx-3
      | BioBank
  // Divider
  hr.sidebar-divider.my-0
  // Nav Item - Dashboard
  li.nav-item.active
    a.nav-link(href='/')
      i.fas.fa-fw.fa-tachometer-alt
      span Página Inicial
  // Divider
  hr.sidebar-divider
  // Heading
  .sidebar-heading
    | Dados de DNA
  // Nav Item - Pages Collapse Menu
  li.nav-item
    a.nav-link.collapsed(href='#' data-toggle='collapse' data-target='#collapseOne' aria-expanded='true' aria-controls='collapseOne')
      i.fas.fa-upload
      span Enviar Dados
    #collapseOne.collapse(aria-labelledby='headingTwo' data-parent='#accordionSidebar')
      .bg-white.py-2.collapse-inner.rounded
        a.collapse-item(href='/data/raw-data-new') Dados Brutos
        a.collapse-item(href='/data/processed-data-new') Dados Processados
  // Nav Item - Utilities Collapse Menu
  li.nav-item
    a.nav-link(href='/data')
      i.fab.fa-bitcoin
      span Listar Dados
  li.nav-item
    a.nav-link.collapsed(href='#' data-toggle='collapse' data-target='#collapseTwo' aria-expanded='true' aria-controls='collapseTwo')
      i.fas.fa-upload
      span Histórico Blockchain
    #collapseTwo.collapse(aria-labelledby='headingTwo' data-parent='#accordionSidebar')
      .bg-white.py-2.collapse-inner.rounded
        a.collapse-item(href='/history/data') Histórico de dados

  // Divider
  hr.sidebar-divider
  // Heading
  .sidebar-heading
    | Processamento
  li.nav-item
    a.nav-link(href='/processable-data')
      i.fas.fa-cogs
      span Processar Dados
  li.nav-item
    a.nav-link(href='/process-request')
      i.fas.fa-fw.fa-file-invoice
      span Solicitações
  li.nav-item
    a.nav-link.collapsed(href='/processor')
      i.fas.fa-fw.fa-server
      span Processadores
  // Nav Item - Charts
  // Divider
  hr.sidebar-divider.d-none.d-md-block
  // Sidebar Toggler (Sidebar)
  .text-center.d-none.d-md-inline
    button#sidebarToggle.rounded-circle.border-0
