ul#accordionSidebar.navbar-nav.bg-gradient-primary.sidebar.sidebar-dark.accordion
  a.sidebar-brand.d-flex.align-items-center.justify-content-center(href='/')
    .sidebar-brand-icon.rotate-n-15
      i.fas.fa-dna
    .sidebar-brand-text.mx-3
      | BioBank

  hr.sidebar-divider.my-0
  li.nav-item
    a.nav-link(href='/')
      i.fas.fa-fw.fa-tachometer-alt
      span Home Page

  hr.sidebar-divider
  .sidebar-heading
    | DNA Data 
  li.nav-item
    a.nav-link.collapsed(data-toggle='collapse' data-target='#collapseOne' aria-expanded='true' aria-controls='collapseOne')
      i.fas.fa-upload
      span Upload Data
    #collapseOne.collapse(aria-labelledby='headingTwo' data-parent='#accordionSidebar')
      .bg-white.py-2.collapse-inner.rounded
        a.collapse-item(href='/data/raw-data-new') Raw Data
        a.collapse-item(href='/data/processed-data-new') Processed Data
        a.collapse-item(href='/tk/tradicional-knowledge-new') Tradicional Knowledge
  li.nav-item
    a.nav-link(href='/data')
      i.fab.fa-bitcoin
      span List Data
    
  hr.sidebar-divider
  .sidebar-heading
    | Processing
  li.nav-item
    a.nav-link(href='/processable-data')
      i.fas.fa-cogs
      span Process Data
  li.nav-item
    a.nav-link(href='/process-request')
      i.fas.fa-fw.fa-file-invoice
      span Process Requests

 
  hr.sidebar-divider
  .sidebar-heading
    | Blockchain 
  li.nav-item
    a.nav-link.collapsed(href='#' data-toggle='collapse' data-target='#collapseTwo' aria-expanded='true' aria-controls='collapseTwo')
      i.fas.fa-upload
      span Blockchain History
    #collapseTwo.collapse(aria-labelledby='headingTwo' data-parent='#accordionSidebar')
      .bg-white.py-2.collapse-inner.rounded
        a.collapse-item(href='/history/data') Data History

  hr.sidebar-divider.d-none.d-md-block
  //Nav Item - Account
  li.nav-item
    a.nav-link.collapsed(href='#' data-toggle='collapse' data-target='#collapseThree' aria-expanded='true' aria-controls='collapseOne')
      i.fas.fa-upload
      span My Account
    #collapseThree.collapse(aria-labelledby='headingTwo' data-parent='#accordionSidebar')
      .bg-white.py-2.collapse-inner.rounded
        a.collapse-item(href='/account/show-my-account') Profile
        a.collapse-item(href='/account/transfer') Transfer
  // Sidebar Toggler (Sidebar)
  .text-center.d-none.d-md-inline
    button#sidebarToggle.rounded-circle.border-0
 

  
   
  
