ul#accordionSidebar.navbar-nav.bg-gradient-primary.sidebar.sidebar-dark.accordion
  a.sidebar-brand.d-flex.align-items-center.justify-content-center(href='/')
    .sidebar-brand-icon.rotate-n-15
      i.fas.fa-dna
    .sidebar-brand-text.mx-3
      | BioBank

  hr.sidebar-divider.my-0
  li.nav-item
    a.nav-link(href='/')
      i.fas.fa-fw.fa-tachometer-alt
      if(language == 'en')    
        span Home Page
      else
        span Página Inicial
      

  hr.sidebar-divider
  .sidebar-heading
    if(language == 'en')  
      | DNA Data 
    else
      | Dados de DNA

  li.nav-item
    a.nav-link.collapsed(data-toggle='collapse' data-target='#collapseOne' aria-expanded='true' aria-controls='collapseOne')
      i.fas.fa-upload
      if(language == 'en')  
        span Upload Data
      else
        span Envio de Dados
      
    if(language == 'en')
      #collapseOne.collapse(aria-labelledby='headingTwo' data-parent='#accordionSidebar')
        .bg-white.py-2.collapse-inner.rounded
            a.collapse-item(href='/data/raw-data-new') Raw Data
            a.collapse-item(href='/data/processed-data-new') Processed Data
            a.collapse-item(href='/tk/tradicional-knowledge-new') Tradicional Knowledge
    else
      #collapseOne.collapse(aria-labelledby='headingTwo' data-parent='#accordionSidebar')
        .bg-white.py-2.collapse-inner.rounded
            a.collapse-item(href='/data/raw-data-new') Dado Bruto
            a.collapse-item(href='/data/processed-data-new') Dado Processado
            a.collapse-item(href='/tk/tradicional-knowledge-new') Conhecimento Tradicional
  
  li.nav-item
    a.nav-link(href='/data')
      i.fab.fa-bitcoin
      if(language == 'en')  
        span List Data
      else
        span Lista de Dados
    
  hr.sidebar-divider
  .sidebar-heading
    if(language == 'en')
      | Processing
    else
      | Processamento
  li.nav-item
    a.nav-link(href='/processable-data')
      i.fas.fa-cogs
      if(language == 'en')  
        span Process Data
      else
        span Processar Dados

  li.nav-item
    a.nav-link(href='/process-request')
      i.fas.fa-fw.fa-file-invoice
      if(language == 'en') 
        span Process Requests
      else
        span Pedidos de Processos

  hr.sidebar-divider
  .sidebar-heading
    | Blockchain 
  li.nav-item
    a.nav-link.collapsed(href='#' data-toggle='collapse' data-target='#collapseTwo' aria-expanded='true' aria-controls='collapseTwo')
      i.fas.fa-upload
      if(language == 'en')  
        span Blockchain History
      else
        span Histórico
    #collapseTwo.collapse(aria-labelledby='headingTwo' data-parent='#accordionSidebar')
      if(language == 'en')  
        .bg-white.py-2.collapse-inner.rounded
          a.collapse-item(href='/history/data') Data History
      else 
        .bg-white.py-2.collapse-inner.rounded
          a.collapse-item(href='/history/data') Histórico de Dados
  
  hr.sidebar-divider
  .sidebar-heading
    if(language == 'en')
      | Language 
    else 
      | Língua 
  li.nav-item
    a.nav-link.collapsed(href='#' data-toggle='collapse' data-target='#collapseFour' aria-expanded='true' aria-controls='collapseTwo')
      i.fas.fa-book-open
      if(language == 'en')  
        span Language selector
      else
        span Seletor de Língua
    #collapseFour.collapse(aria-labelledby='headingTwo' data-parent='#accordionSidebar')
      .bg-white.py-2.collapse-inner.rounded
        a.collapse-item(href='/language/EN') English
        a.collapse-item(href='/language/PTBR') Português
      

  hr.sidebar-divider.d-none.d-md-block
  //Nav Item - Account
  li.nav-item
    a.nav-link.collapsed(href='#' data-toggle='collapse' data-target='#collapseThree' aria-expanded='true' aria-controls='collapseOne')
      i.fas.fa-upload
      if(language == 'en')
        span My Account
      else
        span Minha Conta
      
    if(language == 'en')  
      #collapseThree.collapse(aria-labelledby='headingTwo' data-parent='#accordionSidebar')
        .bg-white.py-2.collapse-inner.rounded
          a.collapse-item(href='/account/show-my-account') Profile
          a.collapse-item(href='/account/transfer') Transfer
    else
      #collapseThree.collapse(aria-labelledby='headingTwo' data-parent='#accordionSidebar')
        .bg-white.py-2.collapse-inner.rounded
          a.collapse-item(href='/account/show-my-account') Perfil
          a.collapse-item(href='/account/transfer') Transferência
  // Sidebar Toggler (Sidebar)
  .text-center.d-none.d-md-inline
    button#sidebarToggle.rounded-circle.border-0
 

  
   
  
