.card.shadow.mb-4
  .card-header.py-3
    if(language == 0)
      h6.m-0.font-weight-bold.text-primary Choose Data to Buy
    else
      h6.m-0.font-weight-bold.text-primary Escolher dado para comprar
  .card-body
    .table-responsive
      table#dataTable.table.table-bordered(width='100%' cellspacing='0')
        thead
          if(language == 0)
            tr
              th Type
              th Title
              th ID
              th Created At
              th Action
          else
            tr
              th Tipo
              th Título
              th ID
              th Criado em
              th Ação
        tbody
          div
                each data, index in datas
                  tr
                    td
                      = data.type
                    td
                      = data.metadata.title
                    td
                      = data.id
                    td
                      = data.created_at
                    td
                          a.btn.btn-primary.btn-sm.text-white(
                            data-toggle="tooltip" data-placement="top" title="Buy DNA" href="/data-buy/" + data.id
                          )
                            i.fas.fa-shopping-cart.mr-2
                              if(language == 0)
                                | Buy DNA
                              else 
                                | Comprar DNA