.card.shadow.mb-4
  .card-header.py-3
    h6.m-0.font-weight-bold.text-primary Lista de Dados
  .card-body
    .table-responsive
      table#dataTable.table.table-bordered(width='100%' cellspacing='0')
        thead
          tr
            th Tipo
            th Título
            th Coletor
            th Criado em
            th Preço
            th Ações
        tbody
          each data, index in datas
            tr
              td
                = data.type
              td
                = data.title
              td
                = data.collector
              td
                = data.created_at
              td
                = data.price
              td
                a.btn.btn-info.btn-sm.btn-circle.mr-2(
                  data-toggle="tooltip" data-placement="top" title="Ver Detalhes" href="/data/" + data.id
                )
                  i.fas.fa-eye
                a.btn.btn-secondary.btn-sm.btn-circle.mr-2(
                  data-toggle="tooltip" data-placement="top" title="Ver Histórico" href="/data/" + data.id + "/list-operations"
                )
                  i.fas.fa-history
                a.btn.btn-primary.btn-sm.btn-circle.mr(
                  data-placement="top" title="Comprar" data-toggle="modal" data-target="#buyModal"+index  href='#'
                )
                  i.fas.fa-shopping-cart
            include buy-modal.pug
