.modal.fade(id= "endorseModal" tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        h5#exampleModalLabel.modal-title Endorse DNA?
        button.close(type='button' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true') &times;
      .modal-body You are requesting this DNA to be accepted as OFICIAL
      .modal-footer
        form.user.d-inline(action='/dnaContract/endorse' method='post')
          input#process-request-id(type='text' hidden name='process_request_id' value=data.process_request_id)
          button.btn.btn-secondary(type='button' data-dismiss='modal') Cancel
          input.btn.btn-primary.ml-2.mr-2(type='submit' value='Continue')