.card.shadow.mb-4
  .card-header.py-3
    h6.m-0.font-weight-bold.text-primary Process Requests
  .card-body
    .table-responsive
      table#dataTable.table.table-bordered(width='100%' cellspacing='0')
        thead
          tr
            th Status
            th Created At
            th Processor ID
            th Raw DNA ID
            th Action
        tbody
          each processRequest in processRequests
            tr
              td
                = processRequest.status
              td
                = processRequest.created_at
              td.small
                = processRequest.processor.id
              td.small
                = processRequest.raw_data.id
              td
                a.btn.btn-info.btn-sm.btn-circle.mr-2(
                  data-toggle="tooltip" data-placement="top" title="See Details" href="/process-request/" + processRequest.id
                )
                  i.fas.fa-eye
